@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.container__main {
  display: flex;
  flex-direction: column;
  align-items: center; }

.parrafo {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 18px; }

.container__navBar {
  background-color: #F8EDE3;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 50vh -28vh; }

.container__logo {
  margin-left: 1rem;
  height: 50vh -33vh; }

.container__ul {
  list-style: none; }
  .container__ul--active {
    font-weight: 900; }
  .container__ul a {
    color: #000 !important; }
  .container__ul a:hover {
    font-weight: bold !important;
    color: #ABD9FF !important; }

.container__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "productos"; }

.container__productos {
  grid-area: productos;
  flex-wrap: wrap; }

.container__img {
  width: 70vw;
  padding: 5px;
  display: flex; }

.container__img:hover {
  transform: scale(1.5); }

.container {
  background-color: #FFF6BF; }

.container__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  padding-bottom: 100px; }

.container__carta {
  display: flex;
  width: 70vw;
  align-items: center; }

.parrafo {
  background-color: #FFF6BF;
  color: #000;
  padding: 3rem; }

.container__h3 {
  color: #7D6E83; }

.container__image {
  display: flex;
  width: 70vw;
  align-items: center; }

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 10px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100; }

.whatsapp-icon {
  margin-top: 13px; }

footer {
  width: 100%;
  margin-top: 50px; }

.container__sociales {
  background-color: #7D6E83;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 5px; }

.container__sociales a {
  font-size: 35px;
  color: #fff; }

.container__pfooter {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: flex-end; }

@media (min-width: 992px) {
  .logo {
    width: 20vw; } }

@media (min-width: 600px) {
  .container__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "productos productos"; }
  .container__productos {
    grid-area: productos;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; }
  .container__img {
    width: 35vw;
    height: 20vw;
    padding: 5px; } }

@media (min-width: 990px) {
  .container__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "productos productos"; }
  .container__productos {
    grid-area: productos;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; }
  .container__img {
    width: 25vw;
    height: 20vw;
    padding: 5px; } }
