.container{
    &__navBar{
        background-color: $celestebb;
        display: flex;
        justify-content: space-between;
        align-content: center;
        height: $altoMinimo - 28vh;
    }    
    &__logo{
        margin-left: 1rem;
        height: $altoMinimo - 33vh;
    }
                
    &__ul{
        list-style: none;
        &--active{
            font-weight: 900;
        }
        a{
            color: $negro!important;
        }
                
        a:hover{
                font-weight: bold !important;
                color: $celeste !important;
        }
    }
}


