
.container{
        
    &__grid {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "productos";
    }
    
    &__productos { 
    grid-area: productos;
    flex-wrap: wrap;
    }

    &__img{
        width: 70vw;
        padding: 5px;
        display: flex;

    }

    &__img:hover{
        transform: scale(1.5);
    }
    
}
 

