@import './base/estilosgenerales';

@import './variables/colores';
@import './variables/fuentes';
@import './variables/extend.scss';
@import './variables/tamanios';


@import './index';
@import './header';
@import './productos';
@import './body';
@import './form';
@import './carta';
@import './empresa';


@import './mediaqueries';