%estiloParrafo{
    text-align: center;
    font-family: $imprenta;
    font-size: 18px;
}

//Mixin

@mixin fontStyle ($colorFondo, $padding){
    background-color: $colorFondo;
    color: $negro;
    padding: $padding;
}