@import './scss/base/estilosgenerales';

@import './scss/variables/colores';
@import './scss/variables/fuentes';
@import './scss/variables/extend';
@import './scss/variables/tamanios';

@import './scss/header';
@import './scss/productos';
@import './scss/body';
@import './scss/form';
@import './scss/carta';
@import './scss/empresa';
@import './scss/index';
@import './scss/footer';


@import './scss/mediaqueries';